<div class="card">
    <div class="card-body">
        <h5 class="card-header">Excluir Contato</h5>
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Nome</label>
            <input disabled type="text" class="form-control" placeholder="Digite seu nome.." [(ngModel)]="contato.nome" name="nome">
          </div>
          <div class="form-group col-md-6">
            <label >Email</label>
            <input disabled type="email" class="form-control" placeholder="email@email.com" [(ngModel)]="contato.email" name="email">
          </div>
        </div>
        <div class="form-group">
          <label >Telefone</label>
          <input disabled type="text" class="form-control" placeholder="(41) 99741-0242" [(ngModel)]="contato.telefone" name="telefone">
        </div>
        <button style="margin-right: 5px;" class="btn btn-danger" (click)="removerContato()" >Excluir</button>
          <button class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
      </form>
    </div>
  </div>
